
@keyframes fadeUpAnime{
    from {
      opacity: 0;
      transform: translateY(100px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
      
    }
  }

  @keyframes fadeDownAnime{
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @-webkit-keyframes myPhot {
    0% {-webkit-transform:translate(0, 0) rotate(-5deg);}
    50% {-webkit-transform:translate(0, -5px) rotate(0deg);}
    100% {-webkit-transform:translate(0, 0)rotate(5deg);}
    }
    
    @keyframes myPhot {
    0% {transform:translate(0, 0) rotate(-5deg);}
    50% {transform:translate(0, -5px) rotate(0deg);}
    100% {transform:translate(0, 0)rotate(5deg);}
    }

    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
/*アニメーション指定
文字数に合わせてleftや開始時間（2つ目のs）を設定する*/
.bound span:nth-child(1){ left:-7.0em; animation: bound-anim 0.8s 0.0s infinite;}
.bound span:nth-child(2){ left:-5.6em; animation: bound-anim 0.8s 0.1s infinite;}
.bound span:nth-child(3){	left:-4.2em; animation: bound-anim 0.8s 0.2s infinite;}

.bound span:nth-child(4){	left: -2.8em; animation: bound-anim 0.8s 0.3s infinite;}

.bound span:nth-child(5){	left: -1.4em; animation: bound-anim 0.8s 0.4s infinite;}

.bound span:nth-child(6){ left: 0.0em; animation: bound-anim 0.8s 0.5s infinite;}

.bound span:nth-child(7){ left: 1.4em; animation: bound-anim 0.8s 0.6s infinite;}
.bound span:nth-child(8){ left: 2.8em; animation: bound-anim 0.8s 0.7s infinite;}
.bound span:nth-child(9){ left: 4.2em; animation: bound-anim 0.8s 0.8s infinite;}
.bound span:nth-child(10){ left: 5.6em; animation: bound-anim 0.8s 0.9s infinite;}
.bound span:nth-child(11){ left: 7.0em; animation: bound-anim 0.8s 1.0s infinite;}
  
/*アニメーションキーフレーム
小さいフォントサイズの場合はtopの数値も縮小すると飛び過ぎない*/
@keyframes bound-anim {
	0%,100% {top: 0;transform: scale(1);}
	30% {top: -25%;}
	50% {transform: scale(1);}
	90% {top: 0;transform: scale(1.2,0.8);}
}
body{
    margin: 0;
    padding: 0;
}
.headerbg{
    background-image: url('../image/Header.jpg');
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center center;
    width:100%;
    height: 100%;
    min-height: 920px;

   
    .youso{
    
        max-width: 1080px;
        margin-top: -24px;
       padding-left: 20%;
       padding-right: 20%;
       
        display: flex;
        justify-content: space-between;
       
        .koyouso{
            margin-top: 0;
            padding-top: 40px;
           text-decoration: underline;
           text-decoration-color: white;
            color: white;
            font-size: 36px;
            
            // 上からアニメーション
            animation-name:fadeDownAnime;
            animation-duration:0.5s;
            animation-fill-mode:forwards;
            &:hover{
                cursor: pointer;
                color:orange;
                opacity: 0.6;
            }
            
            
        }
        
       
    }
    .title{
        color:white;
        font-size: 96px;
        text-align:center;
        line-height: 100%;
        margin-top: 20%;
        position: relative;
        width: 100%;
        height: 300px;
        //したから
        animation-name:fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity:0;
      .bound span{
        position: absolute;
        left: 0;
        right: 0;
        top:0;
        bottom: 50px;
        margin: auto;
        font-size:1em;
        font-weight:bold;
        color:white;
        text-align:center;
        width:100px;
        height:100px;
      }
    }
    
}

.whitecontents{
   
    .whitetitle{
        font-size: 72px;
        text-align: center;
        margin-top: 50px;
        text-decoration: underline;
        text-decoration-color:orange;
        text-decoration-thickness: 20px;
        text-underline-offset: 3px;

        animation-name:fadeDownAnime;
            animation-duration:0.5s;
            animation-fill-mode:forwards;
            opacity:0;
    }
    .contena{
        display: flex;
        justify-content: center;
        margin-top: 10%;
        .myPhot{
            margin-top: 5%;
            width: 200px;
            height: 200px;
            border-radius:50%;

            -webkit-animation:myPhot 3s infinite linear alternate;
　　　　　　　animation:myPhot 3s infinite linear alternate;
        }
        .keireki{
            width: 400px;
            height: 400px;
            display:flex;
            flex-flow: column;
            margin-left: 10%;
         .top{
             font-size: 36px;
             text-align: center;
             margin-bottom: 10%;
         }   
         .second{
             font-size: 22px;
             text-align: center;
             margin-bottom: 10%;
             .year{
                 margin: 0;
                 font-size: small;
             }
             .company{
                margin: 0;
                font-size: medium;
             }
         }
        }
    }
    .itembox{
        padding-left: 20%;
       padding-right: 20%;
       display: flex;
       justify-content: space-around;
       margin-top: 15%;

       .item{
           width: 100px;
           height: 100px;

           
           

           &:hover{
            opacity: 0.6;
            transform: scale(1.1);
            cursor: pointer; 
        }
       }
    }

    .address{
        font-size: 30px;
        text-align: center;
        margin-top: 10%;
    }
    
    
}

.blackcontents{
    // height: 990px
    padding-top: 1%;
    background-color: black;
    padding-bottom: 5%;
    .blacktitle{
        color: white;
        font-size: 72px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 15%;
        text-decoration: underline;
        text-decoration-color:orange;
        text-decoration-thickness: 20px;
        text-underline-offset: 3px;

        animation-name:fadeDownAnime;
            animation-duration:0.5s;
            animation-fill-mode:forwards;
            opacity:0;
    }
    .skill{
        color: white;
        
        display:flex;
        flex-flow: column;
        margin-top: 5%;

        .title{
            font-size: 36px;
            text-align: center;
            color: white;
            margin-bottom: 5%;
        }

        .content{
            margin-top: 2%;
            margin-left: 15%;
            margin-right: 15%;
            display: flex;
            justify-content: center;
            margin-bottom: 5%;
            .janru{
               width: 20%;
               font-size: small;
               p{
                margin-bottom: 1%;
            }
            }
            .nakami{
                width: 80%;
                font-size: small;
              
                p{
                    margin-bottom: 1%;
                }
            }
        }
    }

    .seisaku{
        font-size: 36px;
            text-align: center;
            color: white;
            margin-top: 5%;
            margin-bottom: 5%;
    }

    .itembox{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 10%;
        margin-right: 10%;
        &::after{
            display: block;
            content:"";
            width: 350px;
            height: 450px;
        }

        .item{
            width: 30%;
            height: 300px;
            color: white;
            background-color:black;
            margin-top: 5%;
            

           &:hover{
            opacity: 0.6;
            transform: scale(1.1);
            cursor: pointer; 
        }

            .phot{
                object-fit: cover;
                width: 100%;
                height: 70%;
            }
            .title{
                font-size: 20px;
            }
            .detail{
                font-size: 12px;
            }
        }
    }


}