.headerbg{
    background-image: url('../image/Header.jpg');
    background-repeat: no-repeat;
background-size: cover;
background-position: center center;
    width:100%;
    min-width: 1500px;
    height: 100%;
    min-height: 920px;
    .header{
        width: 940px;
margin-right: auto;
margin-left: auto;

    }
    
}